@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.blueshadow{
  box-shadow: 3px 3px 0 0 #60a5fa;
}
.blueshadow:hover {
  transform: translate(-3px,-3px);
  box-shadow: 6px 6px 0 0 #60a5fa;
}
.blueshadow:active {
  transform: translate(0px,0px);
  box-shadow: 2px 2px 0 0 #60a5fa;
  border: solid 1px;
}