@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.redShadow{
  box-shadow: 3px 3px 0 0 #9b1c1c;
}
.redShadow:hover {
  transform: translate(-3px,-3px);
  box-shadow: 6px 6px 0 0 #9b1c1c;
}
.redShadow:active {
  transform: translate(0px,0px);
  box-shadow: 2px 2px 0 0 #9b1c1c;
  border: solid 1px;
}